<div class="container">
    <div class="about-container d-flex justify-content-center align-items-top mt-5 mb-5">
        <div class="img-container">
            <img class="about-img" src="assets/img/aboutUs.jpg">
        </div>
        <div class="about-text-container ms-5">
            <h2 class="about-h2">Benvenuto al Ristorante Il Gambero Rosso -</h2>
            <h2 class="about-h2">the real spirit of Bella Italia!</h2>
            <p class="about-text">Italian food is a surprisingly diverse cuisine. Each of the twenty Italian regions has a distinctive set of flavors, recipes, products, and ingredients. In fact, the Italian regions were not officially united as a nation until the mid-19th
                century; therefore, each individual region has retained much of its exclusive identity.</p>
            <p class="about-text">Climate and natural landscape have played a major role in shaping regional cuisines. Creamy risotto and other delicately flavored dishes predominate in the Northern regions, while bright olive oil and tomato-based recipes rule the sunny South.</p>
            <p class="about-text">We at Ristorante Il Gabero Rosso have a specialist kitchen team having their backgrounds from regions all over Italy - therefore, we can asure you only the best quality and variety you possibly can only thing at our house.</p>
        </div>
    </div>

    <div class="about-box-container text-center mt-5 mb-5 p-5">
        <h2 class="h2 about-h2">Why choose us?</h2>
        <div class="box-container d-flex align-items-center">
            <div class="box-icon-box">
                <img class="box-icon" src="assets/img/quality.png">
                <div class="box-icon-text p-3">
                    <div>Best Quality</div>
                    <div>Regional Staff</div>
                </div>
            </div>
            <div class="box-icon-box">
                <img class="box-icon" src="assets/img/delivery.png">
                <div class="box-icon-text p-3">
                    <div>Fastest Delivery</div>
                    <div>in Town</div>
                </div>
            </div>
            <div class="box-icon-box">
                <img class="box-icon" src="assets/img/ambiente.png">
                <div class="box-icon-text p-3">
                    <div>Nicest Ambiente</div>
                    <div>pure Italian Style</div>
                </div>
            </div>
        </div>
    </div>
</div>