@import '../../assets/variables';
h1 {
    font-family: $headline-font;
}

.card-img-top {
    object-fit: cover;
    object-position: center;
    height: 300px;
}

hr {
    height: 2px;
    color: $main-color;
}

.btn {
    font-weight: bold;
    background: $main-color;
    border: 2px solid $main-color;
    &:hover {
        background: transparent;
        color: $main-color;
    }
}

.btn-details {
    background: $secondary-color;
    border: 2px solid $secondary-color;
    &:hover {
        color: $secondary-color;
    }
}