/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Quicksand&display=swap');
// Variables
//Fonts
$headline-font: 'Great Vibes',
cursive;
//Colors
$main-color: #872f00;
$secondary-color: #f9ba21;
//Main Styling
body {
    font-family: 'Quicksand', sans-serif;
}